.admin-dm-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }
  
  .deliveryman-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .deliveryman-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .deliveryman-card h3 {
    margin: 10px 0;
  }
  
  .deliveryman-card p {
    margin: 5px 0;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #d32f2f;
  }
  