.admin-deliveryman {
    margin-top: 100px; 
    padding: 20px;     
    text-align: center;
  }
  
  .empty-deliveryman {
    font-size: 1.5em;  
    color: #555;       
    margin-bottom: 20px; 
    text-align: center; 
  }
