.admin-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .admin-header {
    background-color: #E1C6FF; 
    color: #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .admin-main {
    flex-grow: 1;
    padding: 20px;
  }
  