.admin-deliveryman {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 200px; 
  text-align: center;
  }
  .admin-deliveryman > button {
    margin-top: 20px;
  }
  .empty-deliveryman {
    font-size: 1.5em;  
    color: #555;       
    margin-bottom: 20px; 
    text-align: center; 
  }
