.delivery-order-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 200px;
  }
  
  .delivery-order-title {
    font-family: 'Arial', sans-serif; 
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .order-content {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .product-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .order-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .order-details p {
    font-family: 'Arial', sans-serif; 
    font-size: 1.2rem;
    margin: 0;
  }
  
  .status-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .status-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .status-button.entregado {
    background-color: #91BEDF;
  }
  
  .status-button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  .status-button.active {
    border: 2px solid #000;
  }
  