.footer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #F0E4FF;
    padding: 20px;
    position: fixed; 
    bottom: 0;
    width: 100%; 
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .footer-info {
    display: flex;
    flex-direction: column;
    color: #000; 
  }
  
  .footer-list {
    list-style-type: none; 
    padding: 0;
    margin: 0;
  }
  
  .footer-list li {
    margin-bottom: 5px;
  }
  
  .footer-list span {
    margin-left: 10px; 
  }
  
  .footer-icons {
    display: flex;
    align-items: center;
    position: absolute;
    right: 80px; 
  }
  
  .footer-icon {
    margin-left: 10px; 
    width: 24px; 
    height: 24px; 
    cursor: pointer;
  }
  