.login-organism {
  padding: 20px;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Agregamos la transición */
}

.login-organism:hover {
  border-color: rgb(117, 0, 130);
  box-shadow: 2px 2px 8px rgba(117, 0, 130, 0.5); /* Ajustamos la sombra para mayor efecto */
}
